@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: rgba(23, 210, 251, 1);
  --background: rgba(3, 7, 16, 1);
  --gray: rgba(255, 255, 255, 0.2);
  --gray-light: rgba(167, 163, 163, 1);
  --yellow: rgba(227, 195, 23, 1);
  --overlay: rgba(0, 0, 0, 0.5);
  --green: rgba(13, 168, 88, 1);
  --destructive: rgba(168, 60, 13, 1);
  --destructive-foreground: rgba(249, 225, 217, 1);
  --green-foreground: rgba(242, 249, 217, 1);

}

@media (min-width: 1024px) {
  :root {
    --from-width: 20vw;
    --to-width-20: 20.5vw;
    --to-width-50: 25vw;
  }
}

/* app/globals.css */

/* Disable pinch zoom */
html {
  touch-action: pan-x pan-y;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pop {
  0% { transform: scale(0); opacity: 0; }
  50% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}

.pop {
  animation: pop 0.6s ease-out;
}

.animateIn {
  animation: animateIn 0.5s ease-in-out;
}

.animateInText {
  animation-delay: 0.2s;
  opacity: 0;
}

.animateInImage {
  transform: scale(0.9);
  animation-fill-mode: forwards;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}